.paperDetailsContainer {
    width: 600px;
    min-height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 20px;
    margin: 20px auto;
    position: relative;
}

.paperDetailsContainer:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.paperHead {
    text-align:center;
}

.authorSide {
    margin-top: 40px;
}

.reactSide {
    margin-bottom: 20px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

.commentContainer {
    width: 1000px;
    margin: auto;
}